Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/4/NH/MNSD8HDN6LRHJBVJRRDDPC.uasset
